{% extends 'core/base.html' %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 mt-6">
        <div class="">
            <img src="{{ item.image.url }}" class="w-full h-[300px] rounded-md mb-2">
        </div>
    </div>
    <div class="col-lg-9 mt-6 p-6 pb-0 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl capitalize">
            <strong>{{ item.name }}</strong>
        </h1>
        <p class="text-gray-500"><strong>Price: </strong>{{ item.price }}</p>
        <p class="text-gray-500 my-4"><strong>Seller: </strong>{{ item.created_by.username }}</p>
        {% if item.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Description: </strong><br>
            {{ item.description }} 
        </p>
        {% endif %}

        <div class="mt-4 py-4 text-center border-t border-solid border-gray-400">
            <a href="#" class="btn">Add to Dashboard</a>
            <a href="#" class="btn">Add to Favorites</a>
        </div>
    </div>
</div>
<div class="mt-6 px-6 rounded-xl">
    <h2 class="text-4xl text-black text-center">Related Items</h2>
    <div class="row">
        {% for item in related_items %}
        <div class="col-sm-6 col-md-4 col-lg-3 mt-10">
            <div class="card overflow-hidden rounded-xl">
                <div class="relative img-container overflow-hidden">
                    <img src="{{ item.image.url }}"
                        class="rounded-t-xl w-full h-[300px] object-cover hover:scale-105 transition-all">
                    <div
                        class="img-btns flex flex-col items-center justify-center absolute top-0 transition-all w-full h-full">
                        <button class="btn " role="button">Add to Dashboard</button>
                        <a href="{% url 'item:detail' item.id %}" class="btn mt-3">
                            Details
                        </a>
                    </div>
                </div>
                <h2 class="text-3xl mt-4 mb-8 text-center" style="color: rgb(255, 132, 0);">{{ item.name }}</h2>
                <p class="text-gray-200 mb-4 text-center">Price: {{ item.price }} $</p>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}