{% extends 'core/base.html' %}
{% block content %}
{% if searched %}
<h1 class="text-center text-3xl text-red">you searched for {{ searched }}</h1><br />
<div class="row">
    {% for item in items %}
    <div class="col-sm-6 col-md-4 col-lg-3 mt-10">
        <div class="card overflow-hidden rounded-xl">
            <div class="relative img-container overflow-hidden">
                <img src="{{ item.image.url }}"
                    class="rounded-t-xl w-full h-[300px] object-cover hover:scale-105 transition-all">
                <div
                    class="img-btns flex flex-col items-center justify-center absolute top-0 transition-all w-full h-full">
                    <button class="btn " role="button">Add to Dashboard</button>
                    <a href="{% url 'item:detail' item.id %}" class="btn mt-3">
                        Details
                    </a>
                </div>
            </div>
            <h2 class="text-3xl mt-4 mb-8 text-center" style="color: rgb(255, 132, 0);">{{ item.name }}</h2>
            <p class="text-gray-200 mb-4 text-center">Price: {{ item.price }} $</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1> you forgot to search </h1>
<br />

{% endif %}


{% endblock %}